@font-face {
    font-family: "Myriad Pro Regular";
    src: url(Fonts/MYRIADPRO-REGULAR.OTF);
}

/* --------- Const --------- */

:root {
    --blue:#042D5F;
    --dark_blue:hsl(211, 92%, 8%);
    --grey: #BDBDBD;
    --f1:#FF1E00;
    --wec:#0EB9FF;
    --moto: #D91542;
    /* https://www.brandcolorcode.com/federation-internationale-de-lautomobile-fia */

    --nav_height: 40px;
    --margin-after-header: 124px;
    --margin-after-header-plus: 140px;
}


/* --------- General --------- */

html {
    font-family: "Myriad Pro Regular", "Roboto", sans-serif;
}

body {
    color: var(--blue);
    width: 100%;
    margin: 0;
}

p {
    font-size: 1rem;
}



/* --------- Header --------- */

header {
    background-color: var(--blue);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .fia {
        margin-left: 15px;
    
        & a {
            color: #fff;
            font-weight: 500;
            font-size: 1.2rem;
            text-decoration: none;
        }
    }

    & .profile {
        margin-right: 15px;
    
        & img {
            clip-path: circle(50%);
            width: 50px;
        }
    }
}


/* --------- Main --------- */

nav {
    position: fixed;
    z-index: 10;
    top: 84px;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--nav_height);
    display: flex;
    justify-content: space-evenly;
    background-color: var(--dark_blue);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.33);

    & a {
        text-decoration: none;
        width: 100%;
        height: var(--nav_height);
        align-content: center;
        text-align: center;
    }

    & .a_f1 {
        color: var(--f1);
        border-right: 1px solid var(--grey);
        transition: all 0.5s;

        &:hover {
            background-color: var(--f1);
            color: var(--dark_blue);
        }
    }

    & .a_wec {
        color: var(--wec);
        border-right: 1px solid var(--grey);
        transition: all 0.5s;
        
        &:hover {
            background-color: var(--wec);
            color: var(--dark_blue);
        }
    }

    & .a_moto {
        color: var(--moto);
        border-right: 1px solid var(--dark_blue);
        transition: all 0.5s;

        &:hover {
            background-color: var(--moto);
            color: var(--dark_blue);
        }
    }

    & .a_long {
        display: none;
    }
}

#divider {
    justify-self: center;
    width: 75%;
    border: 1px solid var(--grey);
    margin-top: 15px;
}


/* --------- Footer --------- */

footer {
    position: relative;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 25px;
    
        & h2 {
            margin-bottom: 1%;
        }
    
        & #email_cont {
            display: flex;
            border: 1px solid black;
            border-radius: 15px;
            align-items: center;
        
            & p {
                padding: 0 5%;
            }
    
            & #email {
                border: none;
                height: 45px;
            }
    
            & button {
                border-radius: 15px;
                border: none;
                height: 52px;
                width: 135px;
                color: white;
                background-color: var(--blue);
            }
        }
    }

    & .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    
        & .socials_list {
            display: flex;
            gap: 25px;
    
            & .social {
                width: 48px;
                height: 48px;
    
                & .ico{
                    width: 48px;
                    filter: saturate(0.5);
                    transition: filter 400ms;
                
                    &:hover {
                        filter: saturate(1);
                    }
                }
            }        
        }
    }
}


/* --------- BREAKPOINTS --------- */

@media screen and (min-width: 900px) {
    nav {
        & .a_long {
            display: inline;
        }

        & .a_short {
            display: none;
        }
    }

    #divider {
        width: 90%;
    }

    footer {
        flex-direction: row;
        margin-bottom: 25px;
        justify-content: space-evenly;
    }
}